/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: Gotu, sans-serif;
  color: #FF9000;
  text-align: center;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

.section {
  padding: 96px 0;
}

/* Buttons */
.btn {
  display: inline-block;
  margin: 24px auto 0 0;
  padding: 15px;
  font-family: Gotu, sans-serif;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-style: solid;
  border-width: 2px;
}

.btn-one {
  background-color: #FF9000;
  color: #5F021F;
}

/* Navigation */
.con-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.navigation {
  background-color: #5F021F;
  padding: 12px 0;
  color: #FF9000;
  display: -ms-flexbox;
  display: flex;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: end;
}

.navigation li {
  display: inline-block;
  padding-right: 24px;
  padding-left: 24px;
  position: relative;
}

.navigation a {
  text-decoration: none;
  color: #FF9000;
}

.navigation a:hover {
  color: #FF9000;
}

.navigation ul ul li {
  display: block;
  margin-bottom: 12px;
  margin-top: 12px;
}

ul ul {
  display: none;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 12px;
}

.navigation li:hover ul {
  display: block;
  text-align: center;
  position: absolute;
  background: #5F021F;
  z-index: 1;
}

ul ul li a {
  display: block;
  padding: 0 24px;
}

ul ul li:hover a {
  color: #8C001A;
}

/* Splash */
.splash {
  position: relative;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-position: center center;
  background-size: cover;
}

.splash-inner {
  position: absolute;
  width: 100%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-subtitle {
  font-family: Inconsolata, monospace;
  font-size: 30px;
  margin: 30px 0;
  position: relative;
}

.page-title {
  font-family: Gotu, sans-serif;
  font-size: 60px;
  margin: 30px 0;
  position: relative;
}

/* Services */
.services i {
  font-size: 30px;
  background: #5F021F;
  width: 70px;
  height: 70px;
  line-height: 70px;
  color: #FF9000;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}

.services {
  color: #5F021F;
  padding: 48px 16px;
}

/* Gallery */
.gallery {
  background-color: #F9DBBD;
  color: #5F021F;
  padding: 48px 0;
}

.row {
  padding-top: 16px;
  padding-bottom: 16px;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-body {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding: 1.25rem;
  color: #FF9000;
}

/* Footer */
.footer {
  background-color: #8C001A;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
}

.con-foot {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.footer p {
  white-space: nowrap;
}

.footer i {
  font-size: 20px;
  background: #5F021F;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #FF9000;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */